body {width:100%; height:100%;}

h1 {font-size:55px;}

#title {border:solid;
		height:120px;
		margin-top:75px;
		background-color: yellow;}

#timeclock {width:200px; height:150px;
			background-color:gray;
			margin-top:75px;
		    }

#qsection {width: 660px; height:400px;
		   font-size:40px;
		   margin-top:40px;}

#quest {margin-bottom:40px;
		background-color:#03A9F4;}

#A, #B, #C, #D {margin-bottom: 20px}

#rightwrong {width:200px;height:120px;
			 background-color:gray;
			 margin-top:130px;
			 font-size:30px;
			 }
.resetform {width:100px; height:50px;
			border-style:solid;
			padding:20px;}